.app {
    display: flex;
    flex-direction: column;     
    background-color: rgb(180, 140, 217);  
}

.contacts {
    display: flex;    
    justify-content: center;    
}

.contacts__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;    
}

.contacts input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 3px solid #879198;
    cursor: pointer;
}


.contact__button {
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contacts__content {
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 20px; 
    color: #1c2328;
    margin-top: 50px;
    margin-left: 50px;       
}

.contacts__itemes {
    list-style: none;
}
.name, .phone, .address, .email {
    margin-bottom: 10px;
}

.delete__button {
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}